.section {
  height: 500px;
  position: relative;
}

.img {
 height: 100%;
 filter: brightness(30%);
 background-image: url('../../../public/images/fixed.jpg');
 background-size: cover;
 background-attachment: fixed;
}


.title {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 1.5rem;
line-height: 33px;
text-align: center;
letter-spacing: 0.02em;
text-transform: uppercase;
 width: 50%;
color: #F0E7DB;
}




