.modal {
 position: fixed;
 width: clamp(30%, 500px, 90%);
 height: min(50%, 250px); 
 background-color: #E5D9C8;
 border-radius: 4px;
 z-index: 1002;
 text-align: center;
}

.backdrop {
 position: fixed;
 top: 0;
 left: 0;
 z-index: 1001;
 background-color: rgba(0, 0, 0, 0.3);
 backdrop-filter: blur(10px);
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}

.info {
  padding: 2rem 2rem 3rem;
}

.info svg {
  font-size: 3rem;
  color: #18181b;
}

.text {
  font-size: 1.7rem;
  line-height: 30px;
  margin-top: 1rem;
}

.close {
 color: #000;
 border: none;
 background-color: transparent;
 position: absolute;
 top: 1%;
 right: 1%;
 font-size: 2rem;
 cursor: pointer;
 transition: .3s ease-out;
}

.close:hover {
 transform: scale(1.1);
}

.button {
 background-color: #04113F;
 border-radius: 4px;
 color: #F0E7DB;
 padding: .5rem 1.5rem;
 font-family: 'Bebas Neue';
 font-size: 1.5rem;
 line-height: 29px;
 text-transform: uppercase;
 color: #F0E7DB;
 display: flex;
 align-items: center;
 gap: .5rem;
 cursor: pointer;
 transition: .3s ease;
 border: 1px solid #04113F;
 margin-top: 1rem;
}

.button:hover {
 color: #04113F;
 background-color: #F0E7DB;
}

/* @media (max-width: 510px) {
  .modal {
    width: 320px;
  }

  .text p {
    font-size: 1.2rem;
  }
} */
