.section {
 padding: 5rem 0;
 background-color: #F0E7DB;
 border-top: 1px solid rgba(0, 0, 0, 0.2);
 border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}



.wrapper h2 {
 text-align: center;
}

.reviews {
 margin: 3rem 0 5rem;
 padding-right: 1rem;
 max-height: 700px;
 overflow-y: scroll;
}

.reviews::-webkit-scrollbar {
  width: 14px;
  background-color: transparent;
}

.reviews::-webkit-scrollbar-thumb {
  border: 3px solid transparent;
  background-clip: padding-box;
  border-radius: 9999px;
  background-color: rgba(0, 0, 0, 0.5);
}

.reviews > * + * {
 margin-top: 1rem;
}

.review {
 width: 100%;
 background: #E5D9C8;
border: 1px solid rgba(0, 0, 0, 0.2);
border-radius: 4px;
padding: 1.25rem;
font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
}

.no-comments {
  text-align: center;
}

.no-comments h3 {
  display: inline-block;
  font-family: 'DM Serif Text';
  font-weight: 400;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.7);
}

.review-head {
 display: flex;
 align-items: center;
 justify-content: space-between;
 margin-bottom: 1.5rem;
}

.name {
 font-size: 1.5rem;
line-height: 25px;
font-weight: 400;
color: #04113F;
text-transform: capitalize;
}

.message {
 font-size: 1.25rem;
line-height: 25px;
text-transform: capitalize;
color: #04113F;
}


.form textarea{
 border: 1px solid rgba(0, 0, 0, 0.5);
border-radius: 4px;
width: 100%;
background-color: transparent;
padding: 1.25rem;
font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
outline: none;
color: #04113F;
resize: none;
height: 190px;
}

.button {
 display: flex;
 justify-content: flex-end;
 margin-top: 1rem;
}

@media (max-width: 1100px) {
 .section {
  padding: 3rem 0;
 }
}

@media (max-width: 567px) {
 .section {
  padding: 2rem 0;
 }
}

