.section {
  background-color: #f0e7db;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.wrapper {
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
}

.testimonial-block {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
  position: relative;
  width: 100%;
  padding-bottom: 3rem;
}

.slider {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  font-family: 'DM Serif Text';
  font-style: normal;
  font-weight: 400;
}

.head {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
}

.head button {
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.5);
  font-size: 2.5rem;
  cursor: pointer;
  transition: 0.3s ease-out;
}

.head button:hover {
  color: rgba(0, 0, 0, 1);
}

.head button:disabled {
  cursor: not-allowed;
}

.text-block {
  width: 80%;
}

.name {
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 33px;
  margin-top: 1rem;
}

.testimonial {
  width: 75%;
  font-size: 1.125rem;
  line-height: 33px;
  color: #000000;
  margin: 1.875rem 0 1.25rem;
}

.city {
  font-size: 1rem;
  line-height: 22px;
}

@media (max-width: 794px) {
  .wrapper {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .testimonial-block {
    border: none;
  }

  .testimonial {
    width: 100%;
  }

  .text-block {
    width: 100%;
    padding: 1rem 0;
  }
}
